<b>Name : Rajeshwar Voleti
USN : 21BTRCD055
Branch : CSE - Data Science</b>

<b>1)Create a Dataset Of your Own House, Such that you are analysing dataset & its different variables using pandas methods.Also use dropna(), fillna(mean,median,mode), Encoding techniques-replace(),category().get_dummies,Sklearn-ordinalencoder().</b>

Creating Dataset of Home

In [15]:
import pandas as pd
import numpy as np

data = {
    'Area': [1500, 1800, 2200, 1800, np.nan, 2000, 1600, 1900, 1700, 2100],
    'Bedrooms': [3, 3, 4, 2, 2, 3, 2, 4, 3, 3],
    'Bathrooms': [2, 2, 3, 2, 1, 2, 1, 3, np.nan, 2],
    'Age': [15, 10, 8, np.nan, 6, 5, 12, 14, 7, 9],
    'Electricity_bill': [100, 110, np.nan, 120, 90, 130, 80, 140, 95, 115]
}

df = pd.DataFrame(data)
print(df)

     Area  Bedrooms  Bathrooms   Age  Electricity_bill
0  1500.0         3        2.0  15.0             100.0
1  1800.0         3        2.0  10.0             110.0
2  2200.0         4        3.0   8.0               NaN
3  1800.0         2        2.0   NaN             120.0
4     NaN         2        1.0   6.0              90.0
5  2000.0         3        2.0   5.0             130.0
6  1600.0         2        1.0  12.0              80.0
7  1900.0         4        3.0  14.0             140.0
8  1700.0         3        NaN   7.0              95.0
9  2100.0         3        2.0   9.0             115.0

Dropping Null values using dropna()

In [16]:
new=df.dropna()
print(new)

     Area  Bedrooms  Bathrooms   Age  Electricity_bill
0  1500.0         3        2.0  15.0             100.0
1  1800.0         3        2.0  10.0             110.0
5  2000.0         3        2.0   5.0             130.0
6  1600.0         2        1.0  12.0              80.0
7  1900.0         4        3.0  14.0             140.0
9  2100.0         3        2.0   9.0             115.0

Filling all null values with mean mode median using the method fillna()

In [17]:
raj=df.fillna(df['Bedrooms'].mean())
print(raj)

     Area  Bedrooms  Bathrooms   Age  Electricity_bill
0  1500.0         3        2.0  15.0             100.0
1  1800.0         3        2.0  10.0             110.0
2  2200.0         4        3.0   8.0               2.9
3  1800.0         2        2.0   2.9             120.0
4     2.9         2        1.0   6.0              90.0
5  2000.0         3        2.0   5.0             130.0
6  1600.0         2        1.0  12.0              80.0
7  1900.0         4        3.0  14.0             140.0
8  1700.0         3        2.9   7.0              95.0
9  2100.0         3        2.0   9.0             115.0

In [18]:
rajesh=df.fillna(df['Bathrooms'].mode())
print(rajesh)

     Area  Bedrooms  Bathrooms   Age  Electricity_bill
0  1500.0         3        2.0  15.0             100.0
1  1800.0         3        2.0  10.0             110.0
2  2200.0         4        3.0   8.0               NaN
3  1800.0         2        2.0   NaN             120.0
4     NaN         2        1.0   6.0              90.0
5  2000.0         3        2.0   5.0             130.0
6  1600.0         2        1.0  12.0              80.0
7  1900.0         4        3.0  14.0             140.0
8  1700.0         3        NaN   7.0              95.0
9  2100.0         3        2.0   9.0             115.0

In [19]:
rajeshwar=df.fillna(df['Bedrooms'].median())
print(rajeshwar)

     Area  Bedrooms  Bathrooms   Age  Electricity_bill
0  1500.0         3        2.0  15.0             100.0
1  1800.0         3        2.0  10.0             110.0
2  2200.0         4        3.0   8.0               3.0
3  1800.0         2        2.0   3.0             120.0
4     3.0         2        1.0   6.0              90.0
5  2000.0         3        2.0   5.0             130.0
6  1600.0         2        1.0  12.0              80.0
7  1900.0         4        3.0  14.0             140.0
8  1700.0         3        3.0   7.0              95.0
9  2100.0         3        2.0   9.0             115.0

Replacing the values using the method replace()

In [20]:
rajj=df.replace(3,5)
print(rajj)

     Area  Bedrooms  Bathrooms   Age  Electricity_bill
0  1500.0         5        2.0  15.0             100.0
1  1800.0         5        2.0  10.0             110.0
2  2200.0         4        5.0   8.0               NaN
3  1800.0         2        2.0   NaN             120.0
4     NaN         2        1.0   6.0              90.0
5  2000.0         5        2.0   5.0             130.0
6  1600.0         2        1.0  12.0              80.0
7  1900.0         4        5.0  14.0             140.0
8  1700.0         5        NaN   7.0              95.0
9  2100.0         5        2.0   9.0             115.0

In [21]:
c1 = pd.Categorical([1, 2, 3, 1, 2, 3])
print (c1)
 
c2 = pd.Categorical(['e', 'm', 'f', 'i',
                     'f', 'e', 'h', 'm' ])
print (c2)

[1, 2, 3, 1, 2, 3]
Categories (3, int64): [1, 2, 3]
['e', 'm', 'f', 'i', 'f', 'e', 'h', 'm']
Categories (5, object): ['e', 'f', 'h', 'i', 'm']

<b>2)Write short description of encoding & its methods</b>

Encoding in Python refers to the process of converting data from one format to another. There are several encoding methods available in Python, including:

1.ASCII encoding: This method converts ASCII characters to binary format.

2.Unicode encoding: This method represents characters in a standard format, allowing for multilingual support.

3.UTF-8 encoding: This is a variable-width encoding method that can represent any Unicode character.

4.Base64 encoding: This method is used to convert binary data into ASCII characters, making it easier to transmit over text-based protocols.