import pandas as pd
import numpy as np

data = {
    'Area': [1500, 1800, 2200, 1800, np.nan, 2000, 1600, 1900, 1700, 2100],
    'Bedrooms': [3, 3, 4, 2, 2, 3, 2, 4, 3, 3],
    'Bathrooms': [2, 2, 3, 2, 1, 2, 1, 3, np.nan, 2],
    'Age': [15, 10, 8, np.nan, 6, 5, 12, 14, 7, 9],
    'Electricity_bill': [100, 110, np.nan, 120, 90, 130, 80, 140, 95, 115]
}

df = pd.DataFrame(data)
print(df)

Created Data Fra

In [10]:
new=df.dropna()

In [ ]:
print(new)

In [19]:
raj=df.fillna(df['Bedrooms'].mean())

In [20]:
print(raj)

     Area  Bedrooms  Bathrooms   Age  Electricity_bill
0  1500.0         3        2.0  15.0             100.0
1  1800.0         3        2.0  10.0             110.0
2  2200.0         4        3.0   8.0               2.9
3  1800.0         2        2.0   2.9             120.0
4     2.9         2        1.0   6.0              90.0
5  2000.0         3        2.0   5.0             130.0
6  1600.0         2        1.0  12.0              80.0
7  1900.0         4        3.0  14.0             140.0
8  1700.0         3        2.9   7.0              95.0
9  2100.0         3        2.0   9.0             115.0

In [25]:
rajesh=df.fillna(df['Bathrooms'].mode())

In [26]:
print(rajesh)

     Area  Bedrooms  Bathrooms   Age  Electricity_bill
0  1500.0         3        2.0  15.0             100.0
1  1800.0         3        2.0  10.0             110.0
2  2200.0         4        3.0   8.0               NaN
3  1800.0         2        2.0   NaN             120.0
4     NaN         2        1.0   6.0              90.0
5  2000.0         3        2.0   5.0             130.0
6  1600.0         2        1.0  12.0              80.0
7  1900.0         4        3.0  14.0             140.0
8  1700.0         3        NaN   7.0              95.0
9  2100.0         3        2.0   9.0             115.0

In [27]:
rajeshwar=df.fillna(df['Bedrooms'].median())

In [28]:
print(rajeshwar)

     Area  Bedrooms  Bathrooms   Age  Electricity_bill
0  1500.0         3        2.0  15.0             100.0
1  1800.0         3        2.0  10.0             110.0
2  2200.0         4        3.0   8.0               3.0
3  1800.0         2        2.0   3.0             120.0
4     3.0         2        1.0   6.0              90.0
5  2000.0         3        2.0   5.0             130.0
6  1600.0         2        1.0  12.0              80.0
7  1900.0         4        3.0  14.0             140.0
8  1700.0         3        3.0   7.0              95.0
9  2100.0         3        2.0   9.0             115.0

In [29]:
rajj=df.replace(3,5)

In [30]:
print(rajj)

     Area  Bedrooms  Bathrooms   Age  Electricity_bill
0  1500.0         5        2.0  15.0             100.0
1  1800.0         5        2.0  10.0             110.0
2  2200.0         4        5.0   8.0               NaN
3  1800.0         2        2.0   NaN             120.0
4     NaN         2        1.0   6.0              90.0
5  2000.0         5        2.0   5.0             130.0
6  1600.0         2        1.0  12.0              80.0
7  1900.0         4        5.0  14.0             140.0
8  1700.0         5        NaN   7.0              95.0
9  2100.0         5        2.0   9.0             115.0

In [31]:
df.head()

     Area  Bedrooms  Bathrooms   Age  Electricity_bill
0  1500.0         3        2.0  15.0             100.0
1  1800.0         3        2.0  10.0             110.0
2  2200.0         4        3.0   8.0               NaN
3  1800.0         2        2.0   NaN             120.0
4     NaN         2        1.0   6.0              90.0