In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/Users/rajeshvoleti/Downloads/National_Stock_Exchange_of_India_Ltd.csv")

In [3]:
print(df)

        Symbol       Open       High        Low        LTP    Chng      52w H  \
0   ADANIPORTS        750        766     713.25        715  -47.45        901
1   ASIANPAINT   3,101.00   3,167.35   3,091.00   3,138.00   -6.25   3,505.00
2     AXISBANK        669      674.9     660.45        661  -18.90      866.9
3   BAJAJ-AUTO   3,370.00   3,383.50   3,320.00   3,335.00  -56.70   4,361.40
4   BAJAJFINSV  17,200.00  17,237.20  16,610.00  16,684.00 -684.85  19,325.00
5   BAJFINANCE   7,021.00   7,047.90   6,775.00   6,780.00 -345.80   8,050.00
6   BHARTIARTL        763        763      733.1     735.85  -29.30      781.8
7         BPCL     397.15      397.2        375      377.4  -22.70        503
8    BRITANNIA   3,560.00   3,635.10   3,533.95   3,566.60   -6.80   4,153.00
9        CIPLA        892     976.05     890.65        965   65.05   1,005.00
10   COALINDIA     157.75      159.4     155.35      155.9   -2.65      203.8
11    DIVISLAB   4,770.00   5,077.70   4,756.75   4,940.00  140.20   5,425.10
12     DRREDDY   4,580.00   4,820.00   4,576.15   4,750.00  158.40   5,614.60
13   EICHERMOT   2,495.00   2,506.10   2,421.50   2,440.75  -79.65   3,037.00
14      GRASIM   1,757.30   1,757.85   1,679.00   1,685.80  -80.95   1,893.00
15     HCLTECH   1,120.00   1,126.00   1,103.30   1,111.65  -13.15   1,377.75
16        HDFC   2,820.35   2,856.00   2,723.00   2,745.00 -122.75   3,021.10
17    HDFCBANK   1,500.00   1,506.70   1,485.00   1,489.50  -36.45   1,725.00
18    HDFCLIFE        685        689      667.1     669.75  -19.05     775.65
19  HEROMOTOCO   2,580.00   2,589.70   2,505.15   2,526.80  -67.90   3,629.05
20    HINDALCO      441.8      442.7      414.7      417.7  -29.35     551.85
21  HINDUNILVR   2,344.00   2,365.00   2,325.20   2,340.90   -8.15   2,859.30
22   ICICIBANK        739     742.05      718.6     720.45  -30.60        867
23  INDUSINDBK        951     956.95        898     899.95  -59.35   1,242.00
24        INFY   1,702.55   1,718.35   1,684.00   1,689.55  -32.85   1,848.00
25         IOC      125.6      125.6      120.5     121.15   -4.50      141.5
26         ITC      228.9     230.05      223.1      223.6   -7.70      265.3
27    JSWSTEEL     668.25     672.55     624.25        630  -50.90      776.5
28   KOTAKBANK   2,002.00   2,007.00   1,955.10   1,960.00  -75.10   2,253.00
29          LT   1,820.00   1,841.75   1,768.60   1,781.00  -68.90   1,981.75
30         M&M        885        885        843     855.05  -36.15        979
31      MARUTI   7,520.00   7,520.00   7,130.00   7,150.00 -422.50   8,368.00
32   NESTLEIND  19,148.85  19,434.10  18,982.50  19,250.00   71.95  20,609.15
33        NTPC      133.2     134.05        128     128.65   -6.55      152.1
34        ONGC     152.25     152.25     146.25     147.75   -7.35     172.75
35   POWERGRID     204.05     204.95      200.8      202.5   -1.75     209.95
36    RELIANCE   2,467.80   2,477.60   2,401.50   2,405.10  -87.85   2,751.35
37     SBILIFE   1,154.00   1,154.00   1,105.25   1,130.85  -28.65   1,273.90
38        SBIN     486.25      487.9      467.1        470  -20.55      542.3
39    SHREECEM  26,450.00  26,539.90  25,812.00  25,900.00 -770.50  32,048.00
40   SUNPHARMA        775      798.9        762     767.25  -15.65        851
41  TATACONSUM      800.2        805     763.15      769.9  -37.90        889
42  TATAMOTORS        486     486.75        458      459.4  -33.35      536.7
43   TATASTEEL   1,157.90   1,159.50   1,106.25   1,110.25  -63.40   1,534.50
44         TCS   3,425.00   3,490.00   3,411.90   3,439.20   -6.70   3,989.90
45       TECHM   1,544.00   1,550.00   1,510.15   1,519.00  -40.35   1,630.00
46       TITAN   2,377.80   2,385.10   2,285.05   2,293.00 -104.80   2,677.90
47  ULTRACEMCO   7,550.00   7,599.00   7,370.10   7,398.45 -210.35   8,269.00
48         UPL        726        726        701      703.5  -23.80      864.7
49       WIPRO        632      634.4     619.65      621.3  -15.40     739.85

        52w L
0       384.4
1    2,117.15
2       568.4
3    3,041.00
4    8,273.70
5    4,362.00
6      454.11
7         357
8    3,317.30
9       726.5
10     123.25
11   3,153.30
12   4,135.00
13   2,303.70
14     840.05
15     814.35
16   2,179.30
17   1,342.00
18      617.4
19   2,505.15
20     220.35
21   2,120.00
22      465.8
23        789
24   1,091.00
25         84
26      192.4
27        336
28   1,626.00
29   1,092.00
30     660.25
31   6,400.00
32  16,002.10
33      88.15
34      77.05
35     136.88
36   1,830.00
37      825.2
38     240.15
39  22,531.00
40      502.3
41     505.05
42      156.7
43      539.5
44   2,624.45
45      846.7
46   1,300.35
47   4,770.00
48     414.15
49     346.25

In [4]:
to_drop=['Open','Chng','LTP']

In [5]:
df.drop(to_drop, inplace=True, axis=1)

In [6]:
print(df)

        Symbol       High        Low      52w H      52w L
0   ADANIPORTS        766     713.25        901      384.4
1   ASIANPAINT   3,167.35   3,091.00   3,505.00   2,117.15
2     AXISBANK      674.9     660.45      866.9      568.4
3   BAJAJ-AUTO   3,383.50   3,320.00   4,361.40   3,041.00
4   BAJAJFINSV  17,237.20  16,610.00  19,325.00   8,273.70
5   BAJFINANCE   7,047.90   6,775.00   8,050.00   4,362.00
6   BHARTIARTL        763      733.1      781.8     454.11
7         BPCL      397.2        375        503        357
8    BRITANNIA   3,635.10   3,533.95   4,153.00   3,317.30
9        CIPLA     976.05     890.65   1,005.00      726.5
10   COALINDIA      159.4     155.35      203.8     123.25
11    DIVISLAB   5,077.70   4,756.75   5,425.10   3,153.30
12     DRREDDY   4,820.00   4,576.15   5,614.60   4,135.00
13   EICHERMOT   2,506.10   2,421.50   3,037.00   2,303.70
14      GRASIM   1,757.85   1,679.00   1,893.00     840.05
15     HCLTECH   1,126.00   1,103.30   1,377.75     814.35
16        HDFC   2,856.00   2,723.00   3,021.10   2,179.30
17    HDFCBANK   1,506.70   1,485.00   1,725.00   1,342.00
18    HDFCLIFE        689      667.1     775.65      617.4
19  HEROMOTOCO   2,589.70   2,505.15   3,629.05   2,505.15
20    HINDALCO      442.7      414.7     551.85     220.35
21  HINDUNILVR   2,365.00   2,325.20   2,859.30   2,120.00
22   ICICIBANK     742.05      718.6        867      465.8
23  INDUSINDBK     956.95        898   1,242.00        789
24        INFY   1,718.35   1,684.00   1,848.00   1,091.00
25         IOC      125.6      120.5      141.5         84
26         ITC     230.05      223.1      265.3      192.4
27    JSWSTEEL     672.55     624.25      776.5        336
28   KOTAKBANK   2,007.00   1,955.10   2,253.00   1,626.00
29          LT   1,841.75   1,768.60   1,981.75   1,092.00
30         M&M        885        843        979     660.25
31      MARUTI   7,520.00   7,130.00   8,368.00   6,400.00
32   NESTLEIND  19,434.10  18,982.50  20,609.15  16,002.10
33        NTPC     134.05        128      152.1      88.15
34        ONGC     152.25     146.25     172.75      77.05
35   POWERGRID     204.95      200.8     209.95     136.88
36    RELIANCE   2,477.60   2,401.50   2,751.35   1,830.00
37     SBILIFE   1,154.00   1,105.25   1,273.90      825.2
38        SBIN      487.9      467.1      542.3     240.15
39    SHREECEM  26,539.90  25,812.00  32,048.00  22,531.00
40   SUNPHARMA      798.9        762        851      502.3
41  TATACONSUM        805     763.15        889     505.05
42  TATAMOTORS     486.75        458      536.7      156.7
43   TATASTEEL   1,159.50   1,106.25   1,534.50      539.5
44         TCS   3,490.00   3,411.90   3,989.90   2,624.45
45       TECHM   1,550.00   1,510.15   1,630.00      846.7
46       TITAN   2,385.10   2,285.05   2,677.90   1,300.35
47  ULTRACEMCO   7,599.00   7,370.10   8,269.00   4,770.00
48         UPL        726        701      864.7     414.15
49       WIPRO      634.4     619.65     739.85     346.25

In [7]:
df.dropna()

        Symbol       High        Low      52w H      52w L
0   ADANIPORTS        766     713.25        901      384.4
1   ASIANPAINT   3,167.35   3,091.00   3,505.00   2,117.15
2     AXISBANK      674.9     660.45      866.9      568.4
3   BAJAJ-AUTO   3,383.50   3,320.00   4,361.40   3,041.00
4   BAJAJFINSV  17,237.20  16,610.00  19,325.00   8,273.70
5   BAJFINANCE   7,047.90   6,775.00   8,050.00   4,362.00
6   BHARTIARTL        763      733.1      781.8     454.11
7         BPCL      397.2        375        503        357
8    BRITANNIA   3,635.10   3,533.95   4,153.00   3,317.30
9        CIPLA     976.05     890.65   1,005.00      726.5
10   COALINDIA      159.4     155.35      203.8     123.25
11    DIVISLAB   5,077.70   4,756.75   5,425.10   3,153.30
12     DRREDDY   4,820.00   4,576.15   5,614.60   4,135.00
13   EICHERMOT   2,506.10   2,421.50   3,037.00   2,303.70
14      GRASIM   1,757.85   1,679.00   1,893.00     840.05
15     HCLTECH   1,126.00   1,103.30   1,377.75     814.35
16        HDFC   2,856.00   2,723.00   3,021.10   2,179.30
17    HDFCBANK   1,506.70   1,485.00   1,725.00   1,342.00
18    HDFCLIFE        689      667.1     775.65      617.4
19  HEROMOTOCO   2,589.70   2,505.15   3,629.05   2,505.15
20    HINDALCO      442.7      414.7     551.85     220.35
21  HINDUNILVR   2,365.00   2,325.20   2,859.30   2,120.00
22   ICICIBANK     742.05      718.6        867      465.8
23  INDUSINDBK     956.95        898   1,242.00        789
24        INFY   1,718.35   1,684.00   1,848.00   1,091.00
25         IOC      125.6      120.5      141.5         84
26         ITC     230.05      223.1      265.3      192.4
27    JSWSTEEL     672.55     624.25      776.5        336
28   KOTAKBANK   2,007.00   1,955.10   2,253.00   1,626.00
29          LT   1,841.75   1,768.60   1,981.75   1,092.00
30         M&M        885        843        979     660.25
31      MARUTI   7,520.00   7,130.00   8,368.00   6,400.00
32   NESTLEIND  19,434.10  18,982.50  20,609.15  16,002.10
33        NTPC     134.05        128      152.1      88.15
34        ONGC     152.25     146.25     172.75      77.05
35   POWERGRID     204.95      200.8     209.95     136.88
36    RELIANCE   2,477.60   2,401.50   2,751.35   1,830.00
37     SBILIFE   1,154.00   1,105.25   1,273.90      825.2
38        SBIN      487.9      467.1      542.3     240.15
39    SHREECEM  26,539.90  25,812.00  32,048.00  22,531.00
40   SUNPHARMA      798.9        762        851      502.3
41  TATACONSUM        805     763.15        889     505.05
42  TATAMOTORS     486.75        458      536.7      156.7
43   TATASTEEL   1,159.50   1,106.25   1,534.50      539.5
44         TCS   3,490.00   3,411.90   3,989.90   2,624.45
45       TECHM   1,550.00   1,510.15   1,630.00      846.7
46       TITAN   2,385.10   2,285.05   2,677.90   1,300.35
47  ULTRACEMCO   7,599.00   7,370.10   8,269.00   4,770.00
48         UPL        726        701      864.7     414.15
49       WIPRO      634.4     619.65     739.85     346.25

In [8]:
df.drop_duplicates(subset=None, keep='first', inplace=True)

In [9]:
print(df)

        Symbol       High        Low      52w H      52w L
0   ADANIPORTS        766     713.25        901      384.4
1   ASIANPAINT   3,167.35   3,091.00   3,505.00   2,117.15
2     AXISBANK      674.9     660.45      866.9      568.4
3   BAJAJ-AUTO   3,383.50   3,320.00   4,361.40   3,041.00
4   BAJAJFINSV  17,237.20  16,610.00  19,325.00   8,273.70
5   BAJFINANCE   7,047.90   6,775.00   8,050.00   4,362.00
6   BHARTIARTL        763      733.1      781.8     454.11
7         BPCL      397.2        375        503        357
8    BRITANNIA   3,635.10   3,533.95   4,153.00   3,317.30
9        CIPLA     976.05     890.65   1,005.00      726.5
10   COALINDIA      159.4     155.35      203.8     123.25
11    DIVISLAB   5,077.70   4,756.75   5,425.10   3,153.30
12     DRREDDY   4,820.00   4,576.15   5,614.60   4,135.00
13   EICHERMOT   2,506.10   2,421.50   3,037.00   2,303.70
14      GRASIM   1,757.85   1,679.00   1,893.00     840.05
15     HCLTECH   1,126.00   1,103.30   1,377.75     814.35
16        HDFC   2,856.00   2,723.00   3,021.10   2,179.30
17    HDFCBANK   1,506.70   1,485.00   1,725.00   1,342.00
18    HDFCLIFE        689      667.1     775.65      617.4
19  HEROMOTOCO   2,589.70   2,505.15   3,629.05   2,505.15
20    HINDALCO      442.7      414.7     551.85     220.35
21  HINDUNILVR   2,365.00   2,325.20   2,859.30   2,120.00
22   ICICIBANK     742.05      718.6        867      465.8
23  INDUSINDBK     956.95        898   1,242.00        789
24        INFY   1,718.35   1,684.00   1,848.00   1,091.00
25         IOC      125.6      120.5      141.5         84
26         ITC     230.05      223.1      265.3      192.4
27    JSWSTEEL     672.55     624.25      776.5        336
28   KOTAKBANK   2,007.00   1,955.10   2,253.00   1,626.00
29          LT   1,841.75   1,768.60   1,981.75   1,092.00
30         M&M        885        843        979     660.25
31      MARUTI   7,520.00   7,130.00   8,368.00   6,400.00
32   NESTLEIND  19,434.10  18,982.50  20,609.15  16,002.10
33        NTPC     134.05        128      152.1      88.15
34        ONGC     152.25     146.25     172.75      77.05
35   POWERGRID     204.95      200.8     209.95     136.88
36    RELIANCE   2,477.60   2,401.50   2,751.35   1,830.00
37     SBILIFE   1,154.00   1,105.25   1,273.90      825.2
38        SBIN      487.9      467.1      542.3     240.15
39    SHREECEM  26,539.90  25,812.00  32,048.00  22,531.00
40   SUNPHARMA      798.9        762        851      502.3
41  TATACONSUM        805     763.15        889     505.05
42  TATAMOTORS     486.75        458      536.7      156.7
43   TATASTEEL   1,159.50   1,106.25   1,534.50      539.5
44         TCS   3,490.00   3,411.90   3,989.90   2,624.45
45       TECHM   1,550.00   1,510.15   1,630.00      846.7
46       TITAN   2,385.10   2,285.05   2,677.90   1,300.35
47  ULTRACEMCO   7,599.00   7,370.10   8,269.00   4,770.00
48         UPL        726        701      864.7     414.15
49       WIPRO      634.4     619.65     739.85     346.25

In [10]:
df.head()

       Symbol       High        Low      52w H     52w L
0  ADANIPORTS        766     713.25        901     384.4
1  ASIANPAINT   3,167.35   3,091.00   3,505.00  2,117.15
2    AXISBANK      674.9     660.45      866.9     568.4
3  BAJAJ-AUTO   3,383.50   3,320.00   4,361.40  3,041.00
4  BAJAJFINSV  17,237.20  16,610.00  19,325.00  8,273.70

In [13]:
#Sort by name
sorted = df.sort_values(by=['Symbol'])
print(sorted)

        Symbol       High        Low      52w H      52w L
0   ADANIPORTS        766     713.25        901      384.4
1   ASIANPAINT   3,167.35   3,091.00   3,505.00   2,117.15
2     AXISBANK      674.9     660.45      866.9      568.4
3   BAJAJ-AUTO   3,383.50   3,320.00   4,361.40   3,041.00
4   BAJAJFINSV  17,237.20  16,610.00  19,325.00   8,273.70
5   BAJFINANCE   7,047.90   6,775.00   8,050.00   4,362.00
6   BHARTIARTL        763      733.1      781.8     454.11
7         BPCL      397.2        375        503        357
8    BRITANNIA   3,635.10   3,533.95   4,153.00   3,317.30
9        CIPLA     976.05     890.65   1,005.00      726.5
10   COALINDIA      159.4     155.35      203.8     123.25
11    DIVISLAB   5,077.70   4,756.75   5,425.10   3,153.30
12     DRREDDY   4,820.00   4,576.15   5,614.60   4,135.00
13   EICHERMOT   2,506.10   2,421.50   3,037.00   2,303.70
14      GRASIM   1,757.85   1,679.00   1,893.00     840.05
15     HCLTECH   1,126.00   1,103.30   1,377.75     814.35
16        HDFC   2,856.00   2,723.00   3,021.10   2,179.30
17    HDFCBANK   1,506.70   1,485.00   1,725.00   1,342.00
18    HDFCLIFE        689      667.1     775.65      617.4
19  HEROMOTOCO   2,589.70   2,505.15   3,629.05   2,505.15
20    HINDALCO      442.7      414.7     551.85     220.35
21  HINDUNILVR   2,365.00   2,325.20   2,859.30   2,120.00
22   ICICIBANK     742.05      718.6        867      465.8
23  INDUSINDBK     956.95        898   1,242.00        789
24        INFY   1,718.35   1,684.00   1,848.00   1,091.00
25         IOC      125.6      120.5      141.5         84
26         ITC     230.05      223.1      265.3      192.4
27    JSWSTEEL     672.55     624.25      776.5        336
28   KOTAKBANK   2,007.00   1,955.10   2,253.00   1,626.00
29          LT   1,841.75   1,768.60   1,981.75   1,092.00
30         M&M        885        843        979     660.25
31      MARUTI   7,520.00   7,130.00   8,368.00   6,400.00
32   NESTLEIND  19,434.10  18,982.50  20,609.15  16,002.10
33        NTPC     134.05        128      152.1      88.15
34        ONGC     152.25     146.25     172.75      77.05
35   POWERGRID     204.95      200.8     209.95     136.88
36    RELIANCE   2,477.60   2,401.50   2,751.35   1,830.00
37     SBILIFE   1,154.00   1,105.25   1,273.90      825.2
38        SBIN      487.9      467.1      542.3     240.15
39    SHREECEM  26,539.90  25,812.00  32,048.00  22,531.00
40   SUNPHARMA      798.9        762        851      502.3
41  TATACONSUM        805     763.15        889     505.05
42  TATAMOTORS     486.75        458      536.7      156.7
43   TATASTEEL   1,159.50   1,106.25   1,534.50      539.5
44         TCS   3,490.00   3,411.90   3,989.90   2,624.45
45       TECHM   1,550.00   1,510.15   1,630.00      846.7
46       TITAN   2,385.10   2,285.05   2,677.90   1,300.35
47  ULTRACEMCO   7,599.00   7,370.10   8,269.00   4,770.00
48         UPL        726        701      864.7     414.15
49       WIPRO      634.4     619.65     739.85     346.25

In [14]:
renamed = df.rename(columns={'High':'1d H',
                              'Low':'1d L'})
print(renamed)

        Symbol       1d H       1d L      52w H      52w L
0   ADANIPORTS        766     713.25        901      384.4
1   ASIANPAINT   3,167.35   3,091.00   3,505.00   2,117.15
2     AXISBANK      674.9     660.45      866.9      568.4
3   BAJAJ-AUTO   3,383.50   3,320.00   4,361.40   3,041.00
4   BAJAJFINSV  17,237.20  16,610.00  19,325.00   8,273.70
5   BAJFINANCE   7,047.90   6,775.00   8,050.00   4,362.00
6   BHARTIARTL        763      733.1      781.8     454.11
7         BPCL      397.2        375        503        357
8    BRITANNIA   3,635.10   3,533.95   4,153.00   3,317.30
9        CIPLA     976.05     890.65   1,005.00      726.5
10   COALINDIA      159.4     155.35      203.8     123.25
11    DIVISLAB   5,077.70   4,756.75   5,425.10   3,153.30
12     DRREDDY   4,820.00   4,576.15   5,614.60   4,135.00
13   EICHERMOT   2,506.10   2,421.50   3,037.00   2,303.70
14      GRASIM   1,757.85   1,679.00   1,893.00     840.05
15     HCLTECH   1,126.00   1,103.30   1,377.75     814.35
16        HDFC   2,856.00   2,723.00   3,021.10   2,179.30
17    HDFCBANK   1,506.70   1,485.00   1,725.00   1,342.00
18    HDFCLIFE        689      667.1     775.65      617.4
19  HEROMOTOCO   2,589.70   2,505.15   3,629.05   2,505.15
20    HINDALCO      442.7      414.7     551.85     220.35
21  HINDUNILVR   2,365.00   2,325.20   2,859.30   2,120.00
22   ICICIBANK     742.05      718.6        867      465.8
23  INDUSINDBK     956.95        898   1,242.00        789
24        INFY   1,718.35   1,684.00   1,848.00   1,091.00
25         IOC      125.6      120.5      141.5         84
26         ITC     230.05      223.1      265.3      192.4
27    JSWSTEEL     672.55     624.25      776.5        336
28   KOTAKBANK   2,007.00   1,955.10   2,253.00   1,626.00
29          LT   1,841.75   1,768.60   1,981.75   1,092.00
30         M&M        885        843        979     660.25
31      MARUTI   7,520.00   7,130.00   8,368.00   6,400.00
32   NESTLEIND  19,434.10  18,982.50  20,609.15  16,002.10
33        NTPC     134.05        128      152.1      88.15
34        ONGC     152.25     146.25     172.75      77.05
35   POWERGRID     204.95      200.8     209.95     136.88
36    RELIANCE   2,477.60   2,401.50   2,751.35   1,830.00
37     SBILIFE   1,154.00   1,105.25   1,273.90      825.2
38        SBIN      487.9      467.1      542.3     240.15
39    SHREECEM  26,539.90  25,812.00  32,048.00  22,531.00
40   SUNPHARMA      798.9        762        851      502.3
41  TATACONSUM        805     763.15        889     505.05
42  TATAMOTORS     486.75        458      536.7      156.7
43   TATASTEEL   1,159.50   1,106.25   1,534.50      539.5
44         TCS   3,490.00   3,411.90   3,989.90   2,624.45
45       TECHM   1,550.00   1,510.15   1,630.00      846.7
46       TITAN   2,385.10   2,285.05   2,677.90   1,300.35
47  ULTRACEMCO   7,599.00   7,370.10   8,269.00   4,770.00
48         UPL        726        701      864.7     414.15
49       WIPRO      634.4     619.65     739.85     346.25

In [16]:
import matplotlib.pyplot as plt

In [21]:
plt.scatter(df['Symbol'], df['1d L'])
plt.title("Scatter Plot")
plt.xlabel('Symbol')
plt.ylabel('1d L')
plt.show()

KeyError: '1d L'