Name : Rajeshwar Voleti

USN : 21BTRCD055 Branch : CSE-Data Science

1)Create a Dataset Of your Own House, Such that you are analysing dataset & its different variables using pandas methods.Also use dropna(), fillna(mean,median,mode), Encoding techniques-replace(),category().get_dummies,Sklearn-ordinalencoder().

In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("House.xlsx")

In [3]:
df.head()

  House name Doors windows lights   fans
0    house 1   yes      no     yes  yes
1    house 2   yes     yes     yes    no
2    house 3    no      no     yes  yes
3    house 4    no      no     yes    no
4    house 5   yes      no      no  yes

In [5]:
df['Doors'].value_counts()

yes    3
no     2
Name: Doors, dtype: int64

In [6]:
encode={'Doors':{"yes":1,
    "no":0}
}

In [7]:
encoded_df=df.replace(encode)

In [8]:
encoded_df

  House name  Doors windows lights   fans
0    house 1      1      no     yes  yes
1    house 2      1     yes     yes    no
2    house 3      0      no     yes  yes
3    house 4      0      no     yes    no
4    house 5      1      no      no  yes

In [9]:
output=encoded_df.to_excel('hdata.xlsx')

In [10]:
pd.read_excel('hdata.xlsx')

   Unnamed: 0 House name  Doors windows lights   fans
0           0    house 1      1      no     yes  yes
1           1    house 2      1     yes     yes    no
2           2    house 3      0      no     yes  yes
3           3    house 4      0      no     yes    no
4           4    house 5      1      no      no  yes

In [11]:
df.head(4)

  House name Doors windows lights   fans
0    house 1   yes      no     yes  yes
1    house 2   yes     yes     yes    no
2    house 3    no      no     yes  yes
3    house 4    no      no     yes    no

In [12]:
data=pd.read_excel("House.xlsx")

In [13]:
data.head(5)

  House name Doors windows lights   fans
0    house 1   yes      no     yes  yes
1    house 2   yes     yes     yes    no
2    house 3    no      no     yes  yes
3    house 4    no      no     yes    no
4    house 5   yes      no      no  yes

In [14]:
type(data['Doors'])

pandas.core.series.Series

In [15]:
data.dtypes

House name    object
Doors         object
windows       object
lights        object
fans          object
dtype: object

In [16]:
data['Doors']=data['Doors'].astype('category')

In [17]:
data.dtypes

House name      object
Doors         category
windows         object
lights          object
fans            object
dtype: object

In [18]:
data['Doors_new']=data['Doors'].cat.codes

In [19]:
data

  House name Doors windows lights   fans  Doors_new
0    house 1   yes      no     yes  yes           1
1    house 2   yes     yes     yes    no          1
2    house 3    no      no     yes  yes           0
3    house 4    no      no     yes    no          0
4    house 5   yes      no      no  yes           1

In [20]:
pd.get_dummies(data, columns=['Doors']).head()
#dummy data- collide, misinterpretedfrom sk

  House name windows lights   fans  Doors_new  Doors_no  Doors_yes
0    house 1      no     yes  yes           1         0          1
1    house 2     yes     yes    no          1         0          1
2    house 3      no     yes  yes           0         1          0
3    house 4      no     yes    no          0         1          0
4    house 5      no      no  yes           1         0          1

In [21]:
from sklearn.preprocessing import OrdinalEncoder

In [22]:
obj=OrdinalEncoder()#creating object of encoder

In [23]:
data['encode']=obj.fit_transform(data[['Doors']])

In [24]:
data.head(5)

  House name Doors windows lights   fans  Doors_new  encode
0    house 1   yes      no     yes  yes           1     1.0
1    house 2   yes     yes     yes    no          1     1.0
2    house 3    no      no     yes  yes           0     0.0
3    house 4    no      no     yes    no          0     0.0
4    house 5   yes      no      no  yes           1     1.0

In [25]:
data.value_counts

<bound method DataFrame.value_counts of   House name Doors windows lights   fans  Doors_new  encode
0    house 1   yes      no     yes  yes           1     1.0
1    house 2   yes     yes     yes    no          1     1.0
2    house 3    no      no     yes  yes           0     0.0
3    house 4    no      no     yes    no          0     0.0
4    house 5   yes      no      no  yes           1     1.0>